<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Карьера">
    <meta name="author" content="frontend_team">
    <meta name="robots" content="all">

    <meta property="og:title" content="Карьера">
    <title>Карьера</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <nav>
            <div class="logo">Карьера</div>
        </nav>
    </header>


    <div class="header_main_menu">
        <a class="active" href="">Вакансии</a>
        <a href="">Специалисты</a>
        <a href="">Компании</a>
    </div>


    <div class="page-container_main">
        <div class="vacancy_card">
            <a href="" class="vacancy_card_icon-link">
                <img src="" alt="Лого компании МТС" class="vacancy_card_icon">
            </a>
            <div class="vacancy_card_info">
                <div class="vacancy_card_company">
                    <div class="vacancy_card_company-title">
                        <a href="" class="link-comp">MTC</a>
                    </div>
                </div>
                <div class="vacancy_card_title">
                    <a href="" class="vacancy_card_title-link">Frontend dev (Master Product Catalogue)</a>
                </div>
                <div class="vacancy_card_geo">Самара</div>
                <div class="vacancy_card_skills">
                    <span class="inline-list">
                        <span>
                            <a href="" class="link_comp">JavaScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">Vue.js</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">TypeScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">PostgreSQL</a>
                        </span>
                    </span>
                </div>
                <div class="vacancy_card_salary">
                    <div class="basic_salary">от 200 000 ₽</div>
                </div>
            </div>
        </div>
        <div class="vacancy_card">
            <a href="" class="vacancy_card_icon-link">
                <img src="" alt="Лого компании МТС" class="vacancy_card_icon">
            </a>
            <div class="vacancy_card_info">
                <div class="vacancy_card_company">
                    <div class="vacancy_card_company-title">
                        <a href="" class="link-comp">MTC</a>
                    </div>
                </div>
                <div class="vacancy_card_title">
                    <a href="" class="vacancy_card_title-link">Frontend dev (Master Product Catalogue)</a>
                </div>
                <div class="vacancy_card_geo">Самара</div>
                <div class="vacancy_card_skills">
                    <span class="inline-list">
                        <span>
                            <a href="" class="link_comp">JavaScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">Vue.js</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">TypeScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">PostgreSQL</a>
                        </span>
                    </span>
                </div>
                <div class="vacancy_card_salary">
                    <div class="basic_salary">от 200 000 ₽</div>
                </div>
            </div>
        </div>
        <div class="vacancy_card">
            <a href="" class="vacancy_card_icon-link">
                <img src="" alt="Лого компании МТС" class="vacancy_card_icon">
            </a>
            <div class="vacancy_card_info">
                <div class="vacancy_card_company">
                    <div class="vacancy_card_company-title">
                        <a href="" class="link-comp">MTC</a>
                    </div>
                </div>
                <div class="vacancy_card_title">
                    <a href="" class="vacancy_card_title-link">Frontend dev (Master Product Catalogue)</a>
                </div>
                <div class="vacancy_card_geo">Самара</div>
                <div class="vacancy_card_skills">
                    <span class="inline-list">
                        <span>
                            <a href="" class="link_comp">JavaScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">Vue.js</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">TypeScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">PostgreSQL</a>
                        </span>
                    </span>
                </div>
                <div class="vacancy_card_salary">
                    <div class="basic_salary">от 200 000 ₽</div>
                </div>
            </div>
        </div>
        <div class="vacancy_card">
            <a href="" class="vacancy_card_icon-link">
                <img src="" alt="Лого компании МТС" class="vacancy_card_icon">
            </a>
            <div class="vacancy_card_info">
                <div class="vacancy_card_company">
                    <div class="vacancy_card_company-title">
                        <a href="" class="link-comp">MTC</a>
                    </div>
                </div>
                <div class="vacancy_card_title">
                    <a href="" class="vacancy_card_title-link">Frontend dev (Master Product Catalogue)</a>
                </div>
                <div class="vacancy_card_geo">Самара</div>
                <div class="vacancy_card_skills">
                    <span class="inline-list">
                        <span>
                            <a href="" class="link_comp">JavaScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">Vue.js</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">TypeScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">PostgreSQL</a>
                        </span>
                    </span>
                </div>
                <div class="vacancy_card_salary">
                    <div class="basic_salary">от 200 000 ₽</div>
                </div>
            </div>
        </div>
        <div class="vacancy_card">
            <a href="" class="vacancy_card_icon-link">
                <img src="" alt="Лого компании МТС" class="vacancy_card_icon">
            </a>
            <div class="vacancy_card_info">
                <div class="vacancy_card_company">
                    <div class="vacancy_card_company-title">
                        <a href="" class="link-comp">MTC</a>
                    </div>
                </div>
                <div class="vacancy_card_title">
                    <a href="" class="vacancy_card_title-link">Frontend dev (Master Product Catalogue)</a>
                </div>
                <div class="vacancy_card_geo">Самара</div>
                <div class="vacancy_card_skills">
                    <span class="inline-list">
                        <span>
                            <a href="" class="link_comp">JavaScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">Vue.js</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">TypeScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">PostgreSQL</a>
                        </span>
                    </span>
                </div>
                <div class="vacancy_card_salary">
                    <div class="basic_salary">от 200 000 ₽</div>
                </div>
            </div>
        </div>
        <div class="vacancy_card">
            <a href="" class="vacancy_card_icon-link">
                <img src="" alt="Лого компании МТС" class="vacancy_card_icon">
            </a>
            <div class="vacancy_card_info">
                <div class="vacancy_card_company">
                    <div class="vacancy_card_company-title">
                        <a href="" class="link-comp">MTC</a>
                    </div>
                </div>
                <div class="vacancy_card_title">
                    <a href="" class="vacancy_card_title-link">Frontend dev (Master Product Catalogue)</a>
                </div>
                <div class="vacancy_card_geo">Самара</div>
                <div class="vacancy_card_skills">
                    <span class="inline-list">
                        <span>
                            <a href="" class="link_comp">JavaScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">Vue.js</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">TypeScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">PostgreSQL</a>
                        </span>
                    </span>
                </div>
                <div class="vacancy_card_salary">
                    <div class="basic_salary">от 200 000 ₽</div>
                </div>
            </div>
        </div>
        <div class="vacancy_card">
            <a href="" class="vacancy_card_icon-link">
                <img src="" alt="Лого компании МТС" class="vacancy_card_icon">
            </a>
            <div class="vacancy_card_info">
                <div class="vacancy_card_company">
                    <div class="vacancy_card_company-title">
                        <a href="" class="link-comp">MTC</a>
                    </div>
                </div>
                <div class="vacancy_card_title">
                    <a href="" class="vacancy_card_title-link">Frontend dev (Master Product Catalogue)</a>
                </div>
                <div class="vacancy_card_geo">Самара</div>
                <div class="vacancy_card_skills">
                    <span class="inline-list">
                        <span>
                            <a href="" class="link_comp">JavaScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">Vue.js</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">TypeScript</a>
                        </span>
                        <span>
                            <a href="" class="link_comp">PostgreSQL</a>
                        </span>
                    </span>
                </div>
                <div class="vacancy_card_salary">
                    <div class="basic_salary">от 200 000 ₽</div>
                </div>
            </div>
        </div>
        <div class="pages">
            <a href="" class="button_comp">
                <span>1</span>
            </a>
            <a href="" class="button_comp">
                <span>2</span>
            </a>
            <a href="" class="button_comp">
                <span>3</span>
            </a>
        </div>
    </div>

    <footer>
        <h5>Следите за нами в соцсетях:</h5>
        <div class="footer_socials">
            <a class="footer_socials_link1" href="">
                <img src="" alt="">
                <h6>@ishemgulovaa</h6>
            </a>
            <a class="footer_socials_link2" href="">
                <img src="" alt="">
                <h6>@1nd1fferent</h6>
            </a>
            <a class="footer_socials_link3" href="">
                <img src="" alt="">
                <h6>@beskovnikita22</h6>
            </a>
            <a class="footer_socials_link4" href="">
                <img src="" alt="">
                <h6>@rickeyy</h6>
            </a>
            <a class="footer_socials_link5" href="">
                <img src="" alt="">
                <h6>@e83838</h6>
            </a>
            <a class="footer_socials_link6" href="">
                <img src="" alt="">
                <h6>@timur1arkhipov</h6>
            </a>
        </div>
    </footer>
</body>

</html>
